.page-layout{
    box-sizing: border-box;
    width: 100dvw;
    min-height: 100dvh;
    max-height: 100dvh;
    display: flex;
    background-color: white;
}

.page-container{
    min-height: 100dvh;
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
    display: flex;
    padding: 30px;
    gap: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    position: relative;

    h1{
        font-size: 2rem;
    }
}

.page-divider{
    border: 1px solid rgba(104, 104, 104, 0.1); /* Cambia el color del borde a rojo */
    width: 80%;
    height: 1px;
}


