.admin-container{
    max-height: 100dvh;
    flex: 1;
    display: flex;
    gap: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h1{
        font-size: 2rem;
    }
}

.admin-divider{
    border: 1px solid rgba(104, 104, 104, 0.1); /* Cambia el color del borde a rojo */
    width: 80%;
    height: 1px;
}
