.login-page{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("src/assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}