.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(
    to right,
    rgb(111, 0, 255),
    rgb(22, 22, 255)
  ); /* Gradiente de fondo */
  -webkit-background-clip: text; /* Clipping en WebKit */
  background-clip: text;
  color: transparent;
  height: 100%;
  width: 100%;
}

.classes-divider {
  border: 1px solid rgba(104, 104, 104, 0.1); /* Cambia el color del borde a rojo */
  width: 80%;
  height: 1px;
}
