.main-container {
  flex: 1;
  display: grid;
  place-content: center;
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(
    to right,
    rgb(111, 0, 255),
    blue
  ); /* Gradiente de fondo */
  -webkit-background-clip: text; /* Clipping en WebKit */
  background-clip: text;
  color: transparent;
  height: 100%;
  width: 100%;
}
