.sidebar {
  background-color: white;
  min-width: 275px;
  max-width: 275px;
  max-height: 100dvh;
  min-height: 100dvh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 5px 25px 5px;
  box-sizing: border-box;
  border-right: 5px solid rgba(0, 0, 0, 0.3);
  gap: 3%;
}