.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: black;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: black;
}

button {
  grid-column: span 2;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #11538C;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(19, 100, 172, 0.933)
}
