.academic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  height: fit-content;
  overflow: hidden;

  img {
    width: 50%;
    height: 80%;
    flex: 2;
  }

  h2 {
    flex: 1;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-wrap: wrap;
    word-break: break-word;
    font-size: 1.2em;
    font-weight: 500;
    background: linear-gradient(
      to right,
      rgb(111, 0, 255),
      rgb(22, 22, 255)
    ); /* Gradiente de fondo */
    -webkit-background-clip: text; /* Clipping en WebKit */
    background-clip: text;
    color: transparent;
  }
}

.login-info {
  color: #2f1b41;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;

  img {
    width: 90%;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    width: 100%;
    text-wrap: wrap;
    word-break: break-word;
    background: linear-gradient(
      to right,
      rgb(111, 0, 255),
      rgb(22, 22, 255)
    ); /* Gradiente de fondo */
    -webkit-background-clip: text; /* Clipping en WebKit */
    background-clip: text;
    color: transparent;
  }
}
