.classes-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 200px;
  padding: 5px;
  gap: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}

.classes-card:hover {
  box-shadow: 2px 2px 5px #0058ca;
  transition: all 0.2s ease;
}
.card-img {
  width: 200px;
  height: 190px;
  border-radius: 8px;
}

.classes-card-list{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;
}

.classes-group-divider{
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 100%;
  height: 50px;

}

.classes-group-divider-title{
  min-width: max-content;
  height: 100%;
  margin: 0;
  margin-right: 20px;
  vertical-align: middle !important;
}

.group-classes {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2%;
  padding: 10px;
  overflow: auto;
  justify-content: center;
  justify-items: center;
  align-items: start;
}

.classes-right-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  gap: 10px;
}

.title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26px;

  h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #000;
  }
}

.classes-info-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.text-card {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.subtitle-card {
  font-weight: 600;
}

.button-card {
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}
